@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Space Grotesk', sans-serif;
}

:root {
  --color-primary: #339315;
  --color-secondary: #1E580C;
  --color-tertiaty: #99a0a3;
}

a { 
  @apply text-green-600;
}

a:hover {
  @apply border-b-2 text-green-700;
}



.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}
